.product-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.search-filter-container {
    display: flex;
    gap: 15px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.search-filter-container input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.search-filter-container select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: white;
}